{
  "openapi": "3.0.0",
  "info": {
    "title": "TechThrift API",
    "version": "1.0.0",
    "description": "Esta API permite a gestão do sistema TechThrift.\n\n#### Funcionalidades de Gestão:\n* Usuários\n* Compras\n* Vendas\n* Doações\n* Reparações\n* Manifestações de interesse de usuários acerca de produtos\n* Relatórios de atividade do sistema\n"
  },
  "servers": [
    {
      "url": "https://api.techthrift.com/v1"
    }
  ],
  "tags": [
    {
      "name": "tt",
      "description": "Gestão de produtos no sistema TechThrift"
    },
    {
      "name": "ttuser",
      "description": "Gestão de usuários no sistema TechThrift"
    }
  ],
  "paths": {
    "/tt": {
      "get": {
        "tags": [
          "tt"
        ],
        "summary": "Listar todos os equipamentos disponíveis no sistema para venda.",
        "description": "Retorna uma lista de equipamentos disponíveis para venda no sistema, com opção de busca e filtros.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nome dos equipamentos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Categoria dos equipamentos (ex. laptops, smartphones).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price_range",
            "in": "query",
            "required": false,
            "description": "Faixa de preço dos equipamentos (ex. 100-500).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "description": "Condição dos equipamentos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "store_nipc",
            "in": "query",
            "required": false,
            "description": "NIPC da loja que detêm os equipamentos.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "required": false,
            "description": "Disponibilidade dos equipamentos.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tt/product": {
      "get": {
        "tags": [
          "tt"
        ],
        "summary": "Listar todos os equipamentos disponíveis no sistema.",
        "description": "Retorna uma lista de equipamentos disponíveis no sistema, com opção de busca e filtros.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nome dos equipamentos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Categoria dos equipamentos (ex. laptops, smartphones).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price_range",
            "in": "query",
            "required": false,
            "description": "Faixa de preço dos equipamentos (ex. 100-500).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "description": "Condição dos equipamentos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "store_nipc",
            "in": "query",
            "required": false,
            "description": "NIPC da loja que detêm os equipamentos.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "required": false,
            "description": "Disponibilidade dos equipamentos.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tt/product/{id}": {
      "get": {
        "tags": [
          "tt"
        ],
        "summary": "Consultar detalhes de um equipamento específico.",
        "description": "Obtém as informações detalhadas de um equipamento específico.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do equipamento.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/tt/add": {
      "post": {
        "tags": [
          "tt"
        ],
        "summary": "Registar um equipamento no sistema.",
        "description": "Permite registar equipamentos no sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    },
    "/tt/remove/{id}": {
      "delete": {
        "tags": [
          "tt"
        ],
        "summary": "Remover um equipamento do sistema.",
        "description": "Permite remover um equipamento do sistema.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do equipamento.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product successfully removed"
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/tt/sale/add": {
      "post": {
        "tags": [
          "tt"
        ],
        "summary": "Adicionar um equipamento para venda no sistema.",
        "description": "Permite adicionar um euipamento para venda no sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product set for sale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/tt/sale/remove/{id}": {
      "put": {
        "tags": [
          "tt"
        ],
        "summary": "Remover um equipamento para venda no sistema.",
        "description": "Permite remover um equipamento para venda no sistema.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do equipamento.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product removed from sale",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/tt/repair": {
      "get": {
        "tags": [
          "tt"
        ],
        "summary": "Listar todos os equipamentos disponíveis no sistema para reparação.",
        "description": "Retorna uma lista de equipamentos disponíveis para reparação no sistema, com opção de busca e filtros.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nome dos equipamentos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Categoria dos equipamentos (ex. laptops, smartphones).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "store_nipc",
            "in": "query",
            "required": false,
            "description": "NIPC da loja que detêm os equipamentos.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductForRepair"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tt/repair/{id}": {
      "get": {
        "tags": [
          "tt"
        ],
        "summary": "Consultar detalhes de um equipamento para reparação específico.",
        "description": "Obtém as informações detalhadas de um equipamento para reparação específico.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do equipamento.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductForRepair"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/tt/repair/add": {
      "post": {
        "tags": [
          "tt"
        ],
        "summary": "Registar um equipamento para reparação no sistema.",
        "description": "Permite registar os detalhes de um equipamento avariado no sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductForRepair"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductForRepair"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    },
    "/tt/repair/remove/{id}": {
      "put": {
        "tags": [
          "tt"
        ],
        "summary": "Remover um equipamento que estava em reparação do sistema.",
        "description": "Permite remover um equipamento que estava em reparação do sistema.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do equipamento.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product removed from repairs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductForRepair"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/tt/donation": {
      "get": {
        "tags": [
          "tt"
        ],
        "summary": "Listar todos os equipamentos disponíveis no sistema para doação.",
        "description": "Retorna uma lista de equipamentos disponíveis para doação no sistema, com opção de busca e filtros.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nome dos equipamentos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Categoria dos equipamentos (ex. laptops, smartphones).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "condition",
            "in": "query",
            "required": false,
            "description": "Condição dos equipamentos.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "store_nipc",
            "in": "query",
            "required": false,
            "description": "NIPC da loja que detêm os equipamentos.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductForDonation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tt/donation/{id}": {
      "get": {
        "tags": [
          "tt"
        ],
        "summary": "Consultar detalhes de um equipamento para doação específico.",
        "description": "Obtém as informações detalhadas de um equipamento para doação específico.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do equipamento.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductForDonation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/tt/donation/add": {
      "post": {
        "tags": [
          "tt"
        ],
        "summary": "Registar equipamentos para doação no sistema.",
        "description": "Permite registar equipamentos para doação no sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductForDonation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductForDonation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    },
    "/tt/donation/remove/{id}": {
      "put": {
        "tags": [
          "tt"
        ],
        "summary": "Remover um equipamento que estava para doação do sistema.",
        "description": "Permite remover um equipamento que estava para doação do sistema.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID do equipamento.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product removed from donation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductForRepair"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          },
          "404": {
            "description": "Product not found"
          }
        }
      }
    },
    "/ttuser/client": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Listar todos os clientes compradores.",
        "description": "Retorna uma lista de clientes compradores registados no sistema, com opção de busca e filtros.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nomes dos clientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Genéro dos clientes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dob",
            "in": "query",
            "required": false,
            "description": "Data de nascimento dos clientes.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserClient"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ttuser/client/{id}": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Consultar detalhes de um cliente específico.",
        "description": "Obtém as informações detalhadas de um cliente específico.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "NIF, NIC, email, telefone ou ID da base de dados do cliente.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserClient"
                }
              }
            }
          },
          "404": {
            "description": "Client not found"
          }
        }
      }
    },
    "/ttuser/client/add": {
      "post": {
        "tags": [
          "ttuser"
        ],
        "summary": "Adicionar um novo cliente.",
        "description": "Permite adicionar um cliente ao sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserClient"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client successfully added"
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    },
    "/ttuser/client/edit": {
      "put": {
        "tags": [
          "ttuser"
        ],
        "summary": "Editar informações de um cliente existente.",
        "description": "Atualiza os dados de um cliente no sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserClient"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client successfully updated"
          }
        }
      }
    },
    "/ttuser/client/remove/{id}": {
      "delete": {
        "tags": [
          "ttuser"
        ],
        "summary": "Remover um cliente.",
        "description": "Exclui um cliente do sistema.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "NIF, NIC, email, telefone ou ID da base de dados do cliente a ser removido.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client successfully removed"
          }
        }
      }
    },
    "/ttuser/employee": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Listar todos os empregados.",
        "description": "Retorna uma lista de empregados registados no sistema, com opção de busca e filtros.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nomes dos empregados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "description": "Genéro dos empregados.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dob",
            "in": "query",
            "required": false,
            "description": "Data de nascimento dos empregados.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserEmployee"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ttuser/employee/{id}": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Consultar detalhes de um empregado específico.",
        "description": "Obtém as informações detalhadas de um empregado específico.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Número interno, NIF, NIC, email, telefone ou ID da base de dados do empregado.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserEmployee"
                }
              }
            }
          },
          "404": {
            "description": "Employee not found"
          }
        }
      }
    },
    "/ttuser/employee/add": {
      "post": {
        "tags": [
          "ttuser"
        ],
        "summary": "Adicionar um novo empregado.",
        "description": "Permite adicionar um empregado ao sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEmployee"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Employee successfully added"
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    },
    "/ttuser/employee/edit": {
      "put": {
        "tags": [
          "ttuser"
        ],
        "summary": "Editar informações de um empregado existente.",
        "description": "Atualiza os dados de um empregado no sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEmployee"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee successfully updated"
          },
          "404": {
            "description": "Employee not found"
          }
        }
      }
    },
    "/ttuser/employee/remove/{id}": {
      "delete": {
        "tags": [
          "ttuser"
        ],
        "summary": "Remover um empregado.",
        "description": "Exclui um empregado do sistema.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Número interno, NIF, NIC, email, telefone, ou ID da base de dados do empregado a ser removido.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee successfully removed"
          }
        }
      }
    },
    "/ttuser/store": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Listar todos as lojas.",
        "description": "Retorna uma lista de lojas registadas no sistema, com opção de busca e filtros.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nomes das lojas.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Informação geográfica das lojas.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserEntity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ttuser/store/{id}": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Consultar detalhes de uma loja específica.",
        "description": "Obtém as informações detalhadas de uma loja específica.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "NIPC, email, telefone ou ID da base de dados da loja.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserEntity"
                }
              }
            }
          },
          "404": {
            "description": "Store not found"
          }
        }
      }
    },
    "/ttuser/store/add": {
      "post": {
        "tags": [
          "ttuser"
        ],
        "summary": "Adicionar uma nova loja.",
        "description": "Permite adicionar uma loja ao sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEntity"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Store successfully added"
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    },
    "/ttuser/store/edit": {
      "put": {
        "tags": [
          "ttuser"
        ],
        "summary": "Editar informações de uma loja existente.",
        "description": "Atualiza os dados de uma loja no sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEntity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Store successfully updated"
          },
          "404": {
            "description": "Store not found"
          }
        }
      }
    },
    "/ttuser/store/remove/{id}": {
      "delete": {
        "tags": [
          "ttuser"
        ],
        "summary": "Remover uma loja.",
        "description": "Exclui uma loja do sistema.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "NIPC, email, telefone ou ID da base de dados loja a ser removida.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Store successfully removed"
          }
        }
      }
    },
    "/ttuser/charity": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Listar todos as entidades de beneficiência.",
        "description": "Retorna uma lista de entidades de beneficiência registadas no sistema, com opção de busca e filtros.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nomes das entidades de beneficiência.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "description": "Informação geográfica das entidades de beneficiência.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserEntity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ttuser/charity/{id}": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Consultar detalhes de uma entidade de beneficiência.",
        "description": "Obtém as informações detalhadas de uma entidade de beneficiência específica.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "NIPC, email, telefone ou ID da base de dados da entidade de beneficiência.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserEntity"
                }
              }
            }
          },
          "404": {
            "description": "Charity not found"
          }
        }
      }
    },
    "/ttuser/charity/add": {
      "post": {
        "tags": [
          "ttuser"
        ],
        "summary": "Adicionar uma nova entidade de beneficiência.",
        "description": "Permite adicionar uma entidade de beneficiência ao sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEntity"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Charity successfully added"
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    },
    "/ttuser/charity/edit": {
      "put": {
        "tags": [
          "ttuser"
        ],
        "summary": "Editar informações de uma entidade de beneficiência existente.",
        "description": "Atualiza os dados de uma entidade de beneficiência no sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserEntity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charity successfully updated"
          },
          "404": {
            "description": "Charity not found"
          }
        }
      }
    },
    "/ttuser/charity/remove/{id}": {
      "delete": {
        "tags": [
          "ttuser"
        ],
        "summary": "Remover uma entidade de beneficiência.",
        "description": "Exclui uma entidade de beneficiência do sistema.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "NIPC, email, telefone ou ID da base de dados da entidade de beneficiência a ser removida.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charity successfully removed"
          }
        }
      }
    },
    "/ttuser/interest": {
      "post": {
        "tags": [
          "ttuser"
        ],
        "summary": "Manifestar interesse por um equipamento.",
        "description": "Registra o interesse de um usuário em um equipamento específico.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Interest successfully added"
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    },
    "/ttuser/notifications/{id}": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Consultar notificações de disponibilidade.",
        "description": "Obtém notificações de disponibilidade para os equipamentos de interesse de um cliente.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "NIF, NIC, email, telefone ou ID da base de dados do cliente.",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No product interests set"
          }
        }
      }
    },
    "/ttuser/reports": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Listar todos os relatórios de atividades.",
        "description": "Retorna relatórios de atividade, incluindo vendas, doações, reparações e interesses.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      }
    },
    "/ttuser/reports/{id}": {
      "get": {
        "tags": [
          "ttuser"
        ],
        "summary": "Consultar detalhes de um relatório de atividade.",
        "description": "Obtém as informações detalhadas de um relatório de atividade específico.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Data ou ID da base de dados do relatório.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      }
    },
    "/ttuser/reports/add": {
      "post": {
        "tags": [
          "ttuser"
        ],
        "summary": "Adicionar um novo relatório de atividade.",
        "description": "Permite adicionar um relatório de atividade ao sistema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Report"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report successfully added"
          },
          "400": {
            "description": "Invalid request. Data is incorrect or incomplete."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "store_nipc": {
            "type": "integer"
          },
          "condition": {
            "type": "string",
            "enum": [
              "new",
              "used",
              "refurbished"
            ]
          },
          "availability": {
            "type": "string",
            "enum": [
              "in_stock",
              "out_of_stock"
            ]
          }
        }
      },
      "ProductForRepair": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "repair_cost": {
            "type": "number"
          },
          "store_nipc": {
            "type": "integer"
          },
          "issues": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "required_parts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ProductForDonation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "store_nipc": {
            "type": "integer"
          },
          "condition": {
            "type": "string",
            "enum": [
              "new",
              "used",
              "refurbished"
            ]
          },
          "donor_nif": {
            "type": "integer"
          },
          "charity_nipc": {
            "type": "string"
          }
        }
      },
      "InterestRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_nif": {
            "type": "integer"
          },
          "device_category": {
            "type": "string"
          },
          "max_price": {
            "type": "number"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "user_nif": {
            "type": "integer"
          },
          "device_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "date": {
            "type": "string"
          },
          "sales": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "store_nipc": {
                  "type": "integer"
                },
                "total_sales": {
                  "type": "number"
                },
                "user_interests": {
                  "type": "number"
                }
              }
            }
          },
          "donations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "store_nipc": {
                  "type": "integer"
                },
                "total_donations": {
                  "type": "number"
                }
              }
            }
          },
          "repairs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "store_nipc": {
                  "type": "integer"
                },
                "total_repairs": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "UserClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nif": {
            "type": "integer"
          },
          "nic": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "dob": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "UserEmployee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nif": {
            "type": "integer"
          },
          "nic": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "internal_number": {
            "type": "integer"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "dob": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "UserEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "nipc": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      }
    }
  }
}