@media (max-width: 1200px) {
    #search-form {
        display: none !important;
    }

    #search-form-mobile {
        display: flex !important;
    }

    #username {
        p {
            display: none !important;
        }

        img {
            margin: 0 !important;
        }
    }
}

@media (max-width: 768px) {
    .main-banner {
        #main-banner-brand {
            display: none;
        }
    }

    #featuredContainer {
        div {
            height: 105px !important;
        }

        img {
            height: 225px !important;
        }
    }

    #filtersContainer {
        button[data-bs-target="#filtersCollapse"] {
            display: unset !important;
        }

        #filtersCollapse.collapse:not(.show) {
            display: none;
        }

        &.fixed-top {
            position: relative !important;
        }

        select {
            max-width: 100% !important;
        }

        div {
            flex-direction: column;

            input[type='range'] {
                width: 100%;
            }
        }
    }
}

@media (max-width: 500px) {
    #featuredContainer {
        div {
            height: 85px !important;
        }

        img {
            height: 180px !important;
        }
    }
}