@media (max-width: 1200px) {
    #search-form {
        display: none !important;
    }

    #search-form-mobile {
        display: flex !important;
    }
}

@media (max-width: 768px) {
    .main-banner {
        #main-banner-brand {
            display: none;
        }
    }

    #filtersContainer {
        button[data-bs-target="#filtersCollapse"] {
            display: unset !important;
        }

        #filtersCollapse.collapse:not(.show) {
            display: none;
        }

        &.fixed-top {
            position: relative !important;
        }

        select {
            max-width: 100% !important;
        }

        div {
            flex-direction: column;

            input[type='range'] {
                width: 100%;
            }
        }
    }
}