
body {
    background-color: #f8f9fa;
    font-family: "Lucida Grande", sans-serif;
    transition: all;
}

.navbar-brand {
    font-weight: bold;
}

#header-brand {
    padding-right: 10px;
    img {
        width: 100px;
        height: 40px;
        object-fit: cover;
    }
}

#footer-brand {
    padding-right: 10px;
    img {
        width: 80px;
        height: 120px;
        object-fit: cover;
    }
}

.main-banner {
    background-color: navy;
    #main-banner-brand {
        position: absolute;
        right: 0;
        height: 300px;
    }
}

.product-link, #productCarousel {
    img {
        aspect-ratio: 1;
        object-fit: contain;
    }
    &:hover {
        cursor: pointer;
    }
    .card .badge {
        width: fit-content;
        font-size: small;
    }
    .card:hover {
        box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    }
    .card:active {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
}

#product-info {
    .img-thumbnail {
        aspect-ratio: 1;
        object-fit: contain;

        .active {
            border: 2px solid navy;
        }
    }
    .img-thumbnail:hover {
        filter:brightness(0.9);
    }
    .img-thumbnail:active {
        filter:brightness(0.8);
    }
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px;
}

#search-form {
    button[type=submit] {
        border-top-right-radius: var(--bs-border-radius);
        border-bottom-right-radius: var(--bs-border-radius);
    }
    #recent-searches-wrapper {
        position: relative;
        width: inherit;
        margin: 0;

        #recent-searches {
            position: absolute;
            width: inherit;      
            background-color: white;
            border: 1px solid #ccc;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            z-index: 10;
            max-height: 200px;
            overflow-y: auto; 
            border-bottom-right-radius: var(--bs-border-radius);
            border-bottom-left-radius: var(--bs-border-radius);
        }

        #recent-searches-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    
        #recent-searches-list li a { 
            overflow-x: hidden; 
            text-overflow: ellipsis; 
            padding: 8px 12px;
            text-decoration: none;
            color: #333;
            display: block;
        }

        #recent-searches-list li a:hover {
            cursor: pointer;
            background-color: #f1f1f1;
        }
    }
}