@media (1200px <= width <= 1400px) {
  #featuredContainer {
    zoom: 0.86;
  }
}
@media (1000px <= width <= 1200px) {
  #featuredContainer {
    zoom: 0.72;
  }
}
@media (max-width: 1400px) {
  #search-form {
    display: none !important;
  }
  #search-form-mobile {
    display: flex !important;
  }
}
@media (max-width: 991px) {
  #username p {
    display: none !important;
  }
  #username img {
    margin: 0 !important;
  }
}
@media (max-width: 768px) {
  .main-banner #main-banner-brand {
    display: none;
  }
  #featuredContainer div {
    height: 105px !important;
  }
  #featuredContainer img {
    height: 225px !important;
  }
  #filtersContainer button[data-bs-target="#filtersCollapse"] {
    display: unset !important;
  }
  #filtersContainer #filtersCollapse.collapse:not(.show) {
    display: none;
  }
  #filtersContainer.fixed-top {
    position: relative !important;
  }
  #filtersContainer select {
    max-width: 100% !important;
  }
  #filtersContainer div {
    flex-direction: column;
  }
  #filtersContainer div input[type=range] {
    width: 100%;
  }
  #cartPage {
    overflow: auto !important;
  }
  #cartPage #payment-section,
  #cartPage #cart-section {
    max-height: unset !important;
    min-height: unset !important;
    overflow: unset !important;
  }
}
@media (max-width: 500px) {
  #featuredContainer div {
    height: 85px !important;
  }
  #featuredContainer img {
    height: 180px !important;
  }
}
body {
  background-color: #f8f9fa;
  font-family: "Lucida Grande", sans-serif;
  transition: all;
}

@keyframes loadingAnimation {
  0% {
    background-image: url("../media/images/logo_loading_3.png");
  }
  33% {
    background-image: url("../media/images/logo_loading_1.png");
  }
  66% {
    background-image: url("../media/images/logo_loading_2.png");
  }
  100% {
    background-image: url("../media/images/logo_loading_3.png");
  }
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  animation: loadingAnimation 2.5s infinite steps(1);
  z-index: 9999;
  pointer-events: none;
}

body.loaded::before {
  display: none;
}

.navbar-brand {
  font-weight: bold;
}

#header-brand {
  padding-right: 10px;
}
#header-brand img {
  width: 100px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
#header-brand img:hover {
  filter: brightness(2);
}
#header-brand img:active {
  filter: unset;
}

#categories-nav {
  flex-wrap: wrap;
  justify-content: center;
}

header #recent-searches-wrapper#recent-searches-wrapper #recent-searches#recent-searches {
  z-index: 100;
}

figure span {
  width: 70px;
  height: 70px;
}
figure span i {
  align-self: center;
}

#footer-brand {
  padding-right: 10px;
}
#footer-brand img {
  width: 80px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-banner {
  background-color: navy;
}
.main-banner p {
  max-width: 450px;
}
.main-banner #main-banner-brand {
  position: absolute;
  right: 0;
  height: 300px;
}

.product-link img,
.featured-link img,
#productCarousel img {
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-link:hover,
.featured-link:hover,
#productCarousel:hover {
  cursor: pointer;
}
.product-link .card .badge,
.featured-link .card .badge,
#productCarousel .card .badge {
  width: -moz-fit-content;
  width: fit-content;
  font-size: small;
}
.product-link .card:hover,
.featured-link .card:hover,
#productCarousel .card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.product-link .card:active,
.featured-link .card:active,
#productCarousel .card:active {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#orders-list .card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
#orders-list .card:active {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#product-info .img-thumbnail {
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
#product-info .img-thumbnail .active {
  border: 2px solid navy;
}
#product-info .img-thumbnail:hover {
  filter: brightness(0.9);
}
#product-info .img-thumbnail:active {
  filter: brightness(0.8);
}

#search-form button[type=submit],
#search-form-mobile button[type=submit] {
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}
#search-form #recent-searches-wrapper,
#search-form #recent-searches-wrapper-mobile,
#search-form-mobile #recent-searches-wrapper,
#search-form-mobile #recent-searches-wrapper-mobile {
  position: relative;
  width: inherit;
  margin: 0;
}
#search-form #recent-searches-wrapper #recent-searches,
#search-form #recent-searches-wrapper #recent-searches-mobile,
#search-form #recent-searches-wrapper-mobile #recent-searches,
#search-form #recent-searches-wrapper-mobile #recent-searches-mobile,
#search-form-mobile #recent-searches-wrapper #recent-searches,
#search-form-mobile #recent-searches-wrapper #recent-searches-mobile,
#search-form-mobile #recent-searches-wrapper-mobile #recent-searches,
#search-form-mobile #recent-searches-wrapper-mobile #recent-searches-mobile {
  position: absolute;
  width: inherit;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  border-bottom-right-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
}
#search-form #recent-searches-wrapper #recent-searches-list,
#search-form #recent-searches-wrapper #recent-searches-list-mobile,
#search-form #recent-searches-wrapper-mobile #recent-searches-list,
#search-form #recent-searches-wrapper-mobile #recent-searches-list-mobile,
#search-form-mobile #recent-searches-wrapper #recent-searches-list,
#search-form-mobile #recent-searches-wrapper #recent-searches-list-mobile,
#search-form-mobile #recent-searches-wrapper-mobile #recent-searches-list,
#search-form-mobile #recent-searches-wrapper-mobile #recent-searches-list-mobile {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#search-form #recent-searches-wrapper #recent-searches-list li a,
#search-form #recent-searches-wrapper #recent-searches-list-mobile li a,
#search-form #recent-searches-wrapper-mobile #recent-searches-list li a,
#search-form #recent-searches-wrapper-mobile #recent-searches-list-mobile li a,
#search-form-mobile #recent-searches-wrapper #recent-searches-list li a,
#search-form-mobile #recent-searches-wrapper #recent-searches-list-mobile li a,
#search-form-mobile #recent-searches-wrapper-mobile #recent-searches-list li a,
#search-form-mobile #recent-searches-wrapper-mobile #recent-searches-list-mobile li a {
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  display: block;
}
#search-form #recent-searches-wrapper #recent-searches-list li a:hover,
#search-form #recent-searches-wrapper #recent-searches-list-mobile li a:hover,
#search-form #recent-searches-wrapper-mobile #recent-searches-list li a:hover,
#search-form #recent-searches-wrapper-mobile #recent-searches-list-mobile li a:hover,
#search-form-mobile #recent-searches-wrapper #recent-searches-list li a:hover,
#search-form-mobile #recent-searches-wrapper #recent-searches-list-mobile li a:hover,
#search-form-mobile #recent-searches-wrapper-mobile #recent-searches-list li a:hover,
#search-form-mobile #recent-searches-wrapper-mobile #recent-searches-list-mobile li a:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

#search-form {
  max-width: 500px;
}

#search-form-mobile {
  display: none;
}

#filtersCollapse {
  display: flex;
}

.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 15px;
}

.sidebar .nav-link {
  transition: box-shadow 0.02s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 5px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);
}

#filtersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
}
#filtersContainer.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#filtersContainer select {
  max-width: 160px;
}

#add-to-wishlist-button:hover {
  filter: brightness(0.8);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
select:hover {
  background-color: rgba(169, 169, 169, 0.5);
}
select:invalid {
  color: gray;
}
select option {
  color: black;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 10px;
  background: white;
  border-radius: 10px;
  outline: none;
  transition: background 0.3s;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover {
  background-color: #0063cc;
}
input[type=range]::-moz-range-thumb:hover {
  background-color: #0063cc;
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: #004288;
}
input[type=range]::-moz-range-thumb:active {
  background-color: #004288;
}

#maxPriceValue {
  min-width: 50px;
  text-align: center;
}

#applyFilters {
  margin-left: 15px;
}

@keyframes dots {
  0% {
    content: "Loading.";
  }
  33% {
    content: "Loading..";
  }
  66% {
    content: "Loading...";
  }
  100% {
    content: "Loading.";
  }
}
.loading-dots::after {
  content: "Loading.";
  animation: dots 1.5s infinite;
}

.marker-icon {
  background: none;
  border: none;
}
.marker-icon i {
  background: radial-gradient(white 50%, transparent 50%);
  text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
}

.leaflet-popup {
  font-family: "Lucida Grande", sans-serif;
}
.leaflet-popup .leaflet-popup-close-button {
  display: none;
}

button[data-bs-target="#filtersCollapse"] {
  display: none;
}

#cartPage {
  overflow: hidden;
}
#cartPage #payment-section,
#cartPage #cart-section {
  min-height: calc(100vh - 73px);
  max-height: calc(100vh - 73px);
  overflow: auto;
}
#cartPage apple-pay-button:hover {
  filter: brightness(0.8);
}

@media (prefers-color-scheme: dark) {
  body:not(.light-mode):not(.dark-mode) {
    filter: invert(1) hue-rotate(180deg);
    background-color: black;
  }
  body:not(.light-mode):not(.dark-mode) img:not(.card img, .main-banner img, header img, footer img) {
    filter: invert(1) hue-rotate(180deg);
    background-color: black;
  }
  body:not(.light-mode):not(.dark-mode) video,
  body:not(.light-mode):not(.dark-mode) picture,
  body:not(.light-mode):not(.dark-mode) iframe,
  body:not(.light-mode):not(.dark-mode) .main-banner:has(#main-banner-brand),
  body:not(.light-mode):not(.dark-mode) #payment-section .card,
  body:not(.light-mode):not(.dark-mode) #cart-section .card,
  body:not(.light-mode):not(.dark-mode) #paypal,
  body:not(.light-mode):not(.dark-mode) apple-pay-button,
  body:not(.light-mode):not(.dark-mode) #productCarousel *,
  body:not(.light-mode):not(.dark-mode) #store-map {
    filter: invert(1) hue-rotate(180deg);
  }
  body:not(.light-mode):not(.dark-mode) .card img:not(#cart-section .card img, #featuredContainer .card img),
  body:not(.light-mode):not(.dark-mode) #main-banner img {
    filter: invert(1) hue-rotate(180deg);
  }
  body:not(.light-mode):not(.dark-mode) .card img:not(#featuredContainer .card img) {
    background-color: white;
  }
  body:not(.light-mode):not(.dark-mode) .img-thumbnail:hover {
    filter: brightness(0.9) invert(1) hue-rotate(180deg) !important;
  }
  body:not(.light-mode):not(.dark-mode) .img-thumbnail:active {
    filter: brightness(0.8) invert(1) hue-rotate(180deg) !important;
  }
  body:not(.light-mode):not(.dark-mode) #productCarousel img,
  body:not(.light-mode):not(.dark-mode) .modal-content img,
  body:not(.light-mode):not(.dark-mode) .img-thumbnail {
    background-color: white !important;
  }
  body:not(.light-mode):not(.dark-mode) :root {
    --bs-shadow-sm: 0 1px 2px rgba(255, 255, 255, 0.1);
    --bs-shadow: 0 4px 6px rgba(255, 255, 255, 0.15);
    --bs-shadow-lg: 0 10px 15px rgba(255, 255, 255, 0.2);
  }
}
body.dark-mode {
  filter: invert(1) hue-rotate(180deg);
  background-color: black;
}
body.dark-mode img:not(.card img, .main-banner img, header img, footer img) {
  filter: invert(1) hue-rotate(180deg);
  background-color: black;
}
body.dark-mode video,
body.dark-mode picture,
body.dark-mode iframe,
body.dark-mode .main-banner:has(#main-banner-brand),
body.dark-mode #payment-section .card,
body.dark-mode #cart-section .card,
body.dark-mode #paypal,
body.dark-mode apple-pay-button,
body.dark-mode #productCarousel *,
body.dark-mode #store-map {
  filter: invert(1) hue-rotate(180deg);
}
body.dark-mode .card img:not(#cart-section .card img, #featuredContainer .card img),
body.dark-mode #main-banner img {
  filter: invert(1) hue-rotate(180deg);
}
body.dark-mode .card img:not(#featuredContainer .card img) {
  background-color: white;
}
body.dark-mode .img-thumbnail:hover {
  filter: brightness(0.9) invert(1) hue-rotate(180deg) !important;
}
body.dark-mode .img-thumbnail:active {
  filter: brightness(0.8) invert(1) hue-rotate(180deg) !important;
}
body.dark-mode #productCarousel img,
body.dark-mode .modal-content img,
body.dark-mode .img-thumbnail {
  background-color: white !important;
}
body.dark-mode :root {
  --bs-shadow-sm: 0 1px 2px rgba(255, 255, 255, 0.1);
  --bs-shadow: 0 4px 6px rgba(255, 255, 255, 0.15);
  --bs-shadow-lg: 0 10px 15px rgba(255, 255, 255, 0.2);
}/*# sourceMappingURL=stylesheet.css.map */